footer {
  background: #ffffff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: relative;
  border-top: 1px solid #cccccc;
}
