* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin: 30px auto 60px;
}
